src/main/resources/xml/planes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="planes" type="planesType">
        <xs:annotation>
            <xs:documentation>Список літаків</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="planesType">
        <xs:sequence>
            <xs:element type="planeType" name="plane" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="characteristicsType">
        <xs:sequence>

            <xs:element name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="літак підтримки"/>
                        <xs:enumeration value="супровід"/>
                        <xs:enumeration value="винищувач"/>
                        <xs:enumeration value="перехоплювач"/>
                        <xs:enumeration value="розвідник"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="seats" type="xs:integer" maxOccurs="2"/>
            <xs:element name="weapons" type="xs:boolean"/>
            <xs:element name="missiles" type="xs:decimal" maxOccurs="10"/>
            <xs:element name="hasRadar" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="priceType">
        <xs:sequence>
            <xs:element name="amount" type="xs:decimal"/>
            <xs:element name="currency" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="parametersType">
        <xs:sequence>
            <xs:element name="length" type="xs:decimal"/>
            <xs:element name="width" type="xs:decimal"/>
            <xs:element name="height" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="planeType">
        <xs:sequence>
            <xs:element name="model" type="xs:string"/>
            <xs:element name="origin" type="xs:string"/>

            <xs:element type="characteristicsType" name="characteristics"/>
            <xs:element type="parametersType" name="parameters"/>
            <xs:element type="priceType" name="price"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>